@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}

* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

.large {
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 1vw;
}
.img_grp {

}

.header {
  background-color: #1C1713;
}

.header-nav {
  overflow: auto;
  padding-top: 3vw;
}

.icon {
  float: left;
  padding-left: 10vw;
}

.header-nav_3 {
  float: right;
  font-family: Poppins;
  padding-right: 10vw;
}
.header-nav_3 li a {
  text-decoration: none;
  color: white;
  display: block;
}
.header-nav_3 li a.accent {
  border-bottom: 2px solid #FFFF;
}
.header-nav_3 li {
  padding: 0.5rem 0.75rem;
  display: inline-block;
}

h1 {
  padding-left: 10vw;
  font-weight: 400;
  line-height: 1.5;
  font-size: 40px;
  font-family: Poppins;
  color: white;
}

.pink {
  color: #FF537B;
}
.green {
  color: #A0AE11;
}
.intro {
  padding-top: 5vw;
  overflow: auto;
}
.curve {
  height: 12vw;
  width: 100%;
  display: inline-block;
  background-color: #1C1713;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.intro-bio {
  padding-left: 10vw;
  padding-top: 3vw;
  font-weight: 400;
  line-height: 1.5;
  font-size: 30px;
  font-family: Poppins;
  color: white;
  width: 40%;
}
.blurb {
  padding-left: 10vw;
  padding-top: 3vw;
  font-weight: 400;
  line-height: 1.5;
  font-size: 25px;
  font-family: Bitter;
  color: white;
  width: 60%;
}

.c1 {
  float: left;
  width: 33.33%;
  background-color: #F2F2F2;
  font-family: Bitter;
}
.c2 {
  float: left;
  width: 33.33%;
}
.persona {
  padding-top: 1vw;
  float: left;
  width: 50%;
  background-color: #F2F2F2;
  font-family: Bitter;
}
.roles, .user-persona {
  width: 50%;
  margin: auto;
}
.roles:after, .user-persona:after {
    content: "";
    display: table;
    clear: both;
}

.avi {
  float: right;
  padding-right: 10vw;
}

h2 {
  font-family: Poppins;
  letter-spacing: 30px;
  font-weight: 200;
  margin: auto;
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 1vw;
  width: 50%;
  border-bottom: 1px solid #1C1713;
}
h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}
.p-title {
  text-align: center;
}
h4 {
  font-family: Poppins;
}
.p-description {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 1vw;
}
h5 {
  font-family: Poppins;
  font-size: 20px;
}

.project-nav {
  font-family: Bitter;
  margin: auto;
  width: 50%;
  padding-top: 1vw;
}

.project-name {
  float: right;
  font-family: Bitter;
}

.project-description {
  /*something */
}

.contact li {
  display: inline-block;
  text-decoration: none;
  font-family: Poppins;
  font-size: 20px;
}
.contact {
  border-bottom: 2px solid #1C1713;
  width: 50%;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 1vw;
  text-align: center;
  letter-spacing: 10px;
}

.user-persona {
  padding-top: 1vw;
}

.foot {
  background-color: #1C1713;
  color: white;
  font-family: Bitter;
  padding: 1vw;
}

p {
  font-family: Bitter;/*change to Bitter*/
  margin: auto;
  width: 50%;
  padding-top: 1vw;
  line-height: 1.5;
}

.white {
  color: white;
}
.num_list {
  padding-top: 1vw;
  font-family: Bitter;
  margin: auto;
  width: 40%;
}

button {
  text-align: center;
  font-family: Poppins;
  border-radius: 30px;
  border: none;
  display: inline-block;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}

.button_green {
  background-color: #A0AE11;
}
.button_pink {
  background-color: #FF537B;
}

.underline_pink {
  border-bottom: 3px solid #FF537B;
}
.underline_green {
  border-bottom: 3px solid #A0AE11;
}

.dark-background {
  background-color: #1C1713;
  border: 1px solid white;
  overflow: auto;
}
