/* @media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
} */
/* * {
  outline: 1px solid black;
} */
ul {
  list-style-type: none;
  display: block;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: white;
}
html {
  height: 100%;
}
body {
  font-family: Lora, serif;
}
ol {
  line-height: 1.5;
}
h1 {
  font-weight: 400;
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  color: white;
}
/* button {
  background-color: none;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 30px;
  border: 3px solid #A0AE11;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #A0AE11;
  text-transform: uppercase;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 200px;
  font-family: Poppins, sans-serif;
} */

.large {
  width: 50%;
  max-width: 800px;
  margin: auto;
  display: block;
  padding-top: 10px;
}
.sketch {
  width: 70%;
  margin: auto;
  display: block;
}

.header {
  background-color: #1C1713;
}

.icon {
  margin: 25px 0 0 50px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  max-width: 1000px;
  padding: 20px 0 20px 0;
  margin: 0 auto 10px auto;
}

.header-nav_3 {
  font-family: Poppins, sans-serif;
  padding-right: 50px;
}
.holder h1 {
  display:block;
  width: 720px;
  float: none;
  position: relative;
  margin: auto;
}

.header-nav_3 li a {
  text-decoration: none;
  color: white;
  display: block;
}
.header-nav_3 li a.accent {
  border-bottom: 2px solid white;
}
.header-nav_3 li {
  padding: 0.5rem 0.75rem;
  display: inline-block;
}
.header-nav_3 li a:hover {
  color: #FF537B;
  /* border-bottom: 2px solid #FF537B; */
  transition: all 0.5s;
  transform: translateY(-5px);
}
.header-nav_3 li a.accent:hover {
  border-bottom: 2px solid #FF537B;
  transition: all 0.5s;
  /* transform: translateY(-5px); */
}

.pink {
  color: #FF537B;
}
.green {
  color: #A0AE11;
  /* color: #12FCFB; */
}
.intro {
  /* padding: 5vw 0 3vw 0; */
  overflow: auto;
  max-width: 1000px;
  margin: auto;
}
.curve {
  height: 14vw;
  width: 100%;
  background-image: url(../images/b-curve.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -2px;
  margin-bottom: 10vw;
}

.avi1 img {
  margin-left: 3vw;
  height: 300px;
  width: 300px;
}
.bio-1 {
  display: flex;
  justify-content: center;
}
.intro-bio1 {
  height: 150px;
  font-size: 30px;
  margin: auto 0 auto 0;
}

.header-blurb {
  padding-left: 50px;
}
.blurb {
  padding-left: 50px;
  padding-bottom: 50px;
  font-weight: 400;
  line-height: 1.8;
  font-size: 20px;
  font-family: Lora, serif;
  color: white;
  width: 60%;
  max-width: 600px;
  display: block;
}

.c_holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  margin: 0px auto 20px auto;
  width: 50%;
  max-width: 800px;
}
.c1 {
  background-color: #F2F2F2;
  font-family: Lora, serif;
}
.c1 li {
  padding: 5px 13px 0 13px;
  line-height: 1.3;
}
.c1 h5 {
  margin: 13px;
  padding-bottom: 8px;
  border-bottom: 3px solid white;
}
.c1 ul {
  margin-top: 0;
}
.c1 img {
  padding: 13px;
}
.c1 p {
  padding: 5px 13px 0 13px;
}
.c2 {
  width: 100%;
}

.user-persona {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  width: 50%;
  margin: 20px auto 20px auto;
  font-family: Lora, serif;
  line-height: 1.4;
  max-width: 800px;
}
.p-img {
  width: 80%;
  display: block;
  margin: 20px auto 20px auto;
}
.row0A, .row1A, .row2A, .row3A, .row4A, .row5A,
.row0B, .row1B, .row2B, .row3B, .row4B, .row5B {
  background-color: #F2F2F2;
  padding: 10px 20px 10px 20px;
  line-height: 1.4;
}
.row5A, .row5B {
  padding-bottom: 20px;
}
.inner-list {
  padding-left: 20px;
  margin: 0px;
}

.user-stories {
  width: 50%;
  max-width: 800px;
  margin: auto;
  margin-top: 1vw;
  border-collapse: collapse;
  text-align: left;
  background-color: #F2F2F2;
  line-height: 1.4;
}
.user-stories td {
  vertical-align: top;
  padding: 5px;
  border: 3px solid white;
}
.user-stories th {
  padding: 5px;
  background-color: #1C1713;
  color: white;
}
.checker {
  background-color: #E0E0E0;
}

h2 {
  font-family: Poppins, sans-serif;
  letter-spacing: 17px;
  font-weight: 200;
  margin: auto;
  text-align: center;
  padding-top: 10vw;
  padding-bottom: 1vw;
  width: 50%;
  max-width: 800px;
  border-bottom: 1px solid #1C1713;
}
.project-nav-wrapper h2 {
  width: 100%;
  padding-top: 0;
}
h3 {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
.p-title {
  text-align: center;
}
h4 {
  font-family: Poppins, sans-serif;
  margin: 0;
  border-bottom: 3px solid white;
}
.p-description {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 1vw;
}
h5 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.project-nav-wrapper {
  font-family: Lora, serif;
  margin: auto;
  width: 50%;
  max-width: 800px;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.project-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
  margin: 20px auto 20px auto;
  max-width: 650px;
}

.project-name {
  font-family: Lora, serif;;
  margin: auto auto auto auto;
}
.project-name-button {
  margin: 30px 0 0 -5px;
}
.project-title {
  padding-bottom: 10px;
}

.project-nav img {
  width: 100%;
  max-width: 300px;
}

.contact li {
  display: inline-block;
  /* text-decoration: none; */
  font-family: Poppins, sans-serif;
  font-size: 20px;
}
.contact {
  margin: 10vw auto 0 auto;
  text-align: center;
  letter-spacing: 10px;
  background-color: #F2F2F2;
  padding: 25px;
}

footer {
  background-color: #1C1713;
  color: white;
  font-family: Poppins, sans-serif;
  padding: 25px;
}
.foot {
  text-align: right;
  padding-right: 100px;
  grid-row-start: 2;
  grid-row-end: 3;
}

p {
  font-family: Lora, serif;;
  line-height: 1.5;
}
.p-container {
  margin: auto;
  width: 50%;
  max-width: 800px;
}

.white {
  color: white;
  margin: auto;
  width: 50%;
  max-width: 800px;
  border: none;
  padding-bottom: 10px;
}

.center_button a {
  margin: 20px auto 20px auto;
}

.button_green {
  background-color: none;
  display: block;
  text-align: center;
  border-radius: 30px;
  border: 3px solid #A0AE11;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #A0AE11;
  text-transform: uppercase;
  width: 200px;
  font-family: Poppins, sans-serif;
}
.button_green:hover {
  color: white;
  background-color: #A0AE11;
  transition: all 0.3s;
}
.button_pink {
  background-color: none;
  display: block;
  text-align: center;
  border-radius: 30px;
  border: 3px solid #FF537B;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #FF537B;
  text-transform: uppercase;
  width:200px;
  font-family: Poppins, sans-serif;
}
.button_pink:hover {
  color: white;
  background-color: #FF537B;
  transition: all 0.3s;
}

.underline_pink {
  border-bottom: 3px solid #FF537B;
}
.underline_green {
  border-bottom: 3px solid #A0AE11;
}

.grey-background {
  background-color: #F2F2F2;
  padding-bottom: 5vw;
  margin-top: 5vw;
}
.grey-background h2 {
  padding-top: 5vw;
}
.grey-background a {
  margin: 40px auto 40px auto;
}
.half {
  padding-top: 5vw;
}
.dark-background {
  background-color: #1C1713;
  padding: 30px 0 30px 0;
  margin-bottom: 3px;
  overflow: auto;
}
.dark-background a {
  margin-top: 35px;
}
.fullsize_img {
  width: 80%;
  margin: auto;
  display: block;
}

.dark-background-curve {
  display: inline-block;
  background-color: #1C1713;
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 30px 0 30px 0;
  color: white;
  font-size: 19px;
}
.dark-background-curve p {
  margin-left:50px;
  margin-right: 50px;
}
.dark-background-curve ol {
  margin-left:50px;
  margin-right: 50px;
  margin-top: -20px;
}

.green_hover {
  color: black;
}
.green_hover:hover {
  color: #A0AE11;
  transition: all 0.5s;
  display: inline-block;
  transform: translateY(-5px);/* <--doesnt work?? */
  /* font-weight: bold; */
}

.msg {
  padding-left: 0;
  text-align: center;
  border-spacing: 10px;
}

#contact-area {
  max-width: 500px;
  min-width: 235px;
  width: 50%;
  margin: 20px auto 0 auto;
}
#contact-area input, #contact-area textarea {
  background-color: white;
  color: grey;
  width: 100%;
  font-family: Poppins, sans-serif;
  padding: 5px;
  margin: 5px 5px 5px 0;
}
#contact-area input.submit-button {
  background-color: #1C1713;
  display: block;

  text-align: center;
  border-radius: 30px;
  border: 3px solid #A0AE11;
  /* display: block; */
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #A0AE11;
  text-transform: uppercase;
  margin: 30px auto 10px auto;
  width: 200px;
  font-family: Poppins, sans-serif;
}
#contact-area input.submit-button:hover {
  color: white;
  background-color: #A0AE11;
  transition: all 0.3s;
}

/* interactive media */
@media screen and (max-width: 1200px) {
  .large, .white {
    width: 70%;
  }
  h2 {
    width: 70%;
  }
  .project-nav-wrapper {
    width: 70%;
  }
  .p-container,.user-persona {
    width: 70%;
  }
  .c_holder, .user-stories {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  .bio-1 h1 {
    font-size: 20px;
  }
  .avi1 img {
    margin-left: 50px;
    height: 250px;
    width: 250px;
  }
  .holder h1 {
    font-size: 30px;
    width: 450px;
  }
  .msg {
    font-size: 30px;
  }
  .header-blurb {
    font-size: 30px;
  }
  .blurb {
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
  .project-nav {
    grid-template-columns: 1fr;
  }
  .user-persona {
    max-width: 400px;
    grid-template-columns: 1fr;
  }
  .row1A {
    grid-row: 2;
  }
  .row2A {
    grid-row: 3;
  }
  .row3A {
    grid-row: 4;
  }
  .row4A {
    grid-row: 5;
  }
  .row5A {
    grid-row: 6;
    margin-bottom: 2vw;
  }
  .fullsize_img {
    width: 90%;
  }
  .project-nav img {
    display: block;
    margin: auto;
  }
  .project-name {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 700px) {
  .bio-2 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .bio-1 {
    display: none;
  }
  .intro-bio2 {
    padding-top: 5vw;
    float: none;
    margin: auto;
    position: relative;
    width: 303px;
    font-size: 18px;
  }
  .avi2 {
    width: 225px;
    height: 225px;
    padding-top: 5vw;
    display: block;
    margin: auto;
    position: relative;
    float: none;
  }

  h2 {
    width: 90%;
  }
  .p-container {
    width: 90%;
  }
  .c_holder {
    width: 90%;
  }
  .large, .user-stories, .white {
  width: 90%;
  }
  .c1 h5 {
    font-size: 15px;
  }
  .c1 li {
    font-size: 12px;
  }
  .c1 p {
    font-size: 12px;
  }
  .c1 p {
    font-size: 12px;
  }
  .user-stories {
    font-size: 12px;
  }
  .contact li {
    /* font-size: 15px; */
    letter-spacing: 5px;
  }
  .c1 img {
    padding: 10px 5px;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .msg {
    border-spacing: 0px;
  }
 .header-nav {
    display: block;
    padding-bottom: 10px;
  }
  .icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: block;
    margin: auto;
  }
  .header-nav_3 {
    display: block;
    padding-right: 0;
    float: none;
    margin: auto;
    position: relative;
    font-size: 13px;
    width: 250px;
  }
  .holder h1 {
    font-size: 20px;
    width: 300px;
  }
  .msg, h2 {
    font-size: 20px;
  }
  .header-blurb {
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
  .blurb {
    font-size: 13px;
    margin: auto;
    padding: 0;
  }
  p, ol, .user-persona {
    font-size: 12px;
  }
  .dark-background-curve ol {
    margin-top: -10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .dark-background-curve p {
    margin-left: 25px;
    margin-right: 25px;
  }
}
/* * {border: 1px solid black;} */

@media screen and (max-width: 450px) {
  .c1 h5 {
    margin: 5px;
    font-size: 12px;
  }
  .c1 li, .c1 p {
    padding: 3px 5px 0 5px;
    font-size: 10px;
  }
  .user-stories, .c1 p {
    font-size: 10px;
    line-height: 1.3;
  }
  .contact li {
    font-size: 17px;
    letter-spacing: 1px;
  }
  .contact a {
    margin-right: 5px;
  }
  h2 {
    font-size: 17px;
    letter-spacing: 10px;
  }
  h3 {
    font-size: 17px;
  }
  .user-persona h4  {
    font-size: 15px;
  }
  .white {
    font-size: 12px;
  }
  .project-name {
    font-size: 12px;
    padding-top: 10px;
  }
  .holder {
    padding-bottom: 25px;
    font-size: 18px;
  }
}
